<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleS.css">
    <title>Beats</title>
</head>
<body>
    <section style="background: url(img/banner.jpg);     background: url(img/banner.jpg);
    background-size: cover;
    background-position: center;">
        <header>
            <a class="logo" href="#">Beats</a>
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </header>
        <div class="container">
            <div class="containerCx">
                <h2>
                    O fone dos seus sonhos
                </h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab earum quaerat deleniti accusantium fugit, omnis dolore impedit esse.
                </p>
                <a id="btn1" href="#">Saiba Mais</a>
                <a id="btn2" href="#">Comprar</a>
            </div>
        </div>
    </section>
</body>
</html>