@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 100px;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header .navbar{
    position: relative;
    display: flex;
}

header .navbar li{
    list-style: none;
}

header .navbar li a{
    display: inline-block;
    text-decoration: none;
    margin-right: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

.container{
    max-width: 600px;
}

.container .containerCx h2{
    color: #fff;
    font-size: 4.2em;
    line-height: 1em;
}

.container .containerCx p{
    color: #fff;
    font-size: 1em;
    margin: 20px 0;
    
}


.container .containerCx #btn1{
    display: inline-block;
    background-color: #e20091;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 15px;
}

.container .containerCx #btn2{
    display: inline-block;
    background-color:  #009620;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 15px;
}